db.google_drive_images.insert({'imagePath' : "https://drive.google.com/uc?export=view&id=0B73QldPJajvyQ09fcVhMSGN0NFdVN0g4emp2M2hybDdyNEdz",'imageId':"0B73QldPJajvyQ09fcVhMSGN0NFdVN0g4emp2M2hybDdyNEdz",'imageName' : "kiran-jlo-5.jpg",'isActive'  :true,'created_by' : "Alnoor",created_at : new Date()})


<p><img alt="" src="https://drive.google.com/uc?export=view&amp;id=0B73QldPJajvyM196bHJlZkhPVnlvNjNhRHkzVFNzYWRZYXFn" style="height:auto; width:49%" /></p>

<p><img alt="" src="https://drive.google.com/uc?export=view&amp;id=0B73QldPJajvyb1FjZGRVTDVrNzhxbmIwOXlXd0dJVjdXMTQ0" style="height:auto; width:49%" /></p>

<p><img alt="" src="https://drive.google.com/uc?export=view&amp;id=0B73QldPJajvyOVhhRnJ0S3NNTkZwWUZabjF6cHJDZmVuYjB3" style="height:auto; width:49%" /></p>

<p><img alt="" src="https://drive.google.com/uc?export=view&amp;id=0B73QldPJajvyRXB0eUR2bnJFcURnQURxT0FfQzlLcEFHXzBV" style="height:auto; width:49%" /></p>


https://drive.google.com/open?id=0B73QldPJajvyQ09fcVhMSGN0NFdVN0g4emp2M2hybDdyNEdz