
 <% include partials/head %>
	<body>
	 <header class="header_container">
	 <span id="logo-letter"><strong>K</strong></span>
	 	 	<a class="logo" href="#">
		 <svg enable-background="new 0 0 48.3 11" viewBox="0 0 48.3 11" xmlns="http://www.w3.org/2000/svg" class="an-logo"><path d="M.004 10.13L9.338.794l.85.85-9.335 9.333zm18.688.043L9.358.84l.85-.85 9.332 9.335zm.003-.063L28.03.774l.848.85-9.334 9.332zm9.33-9.268l.85-.848 9.323 9.344-.85.848zm9.33 9.26l10.11-10.11.85.847-10.11 10.11z" clip-rule="evenodd" fill="#4bea91" style="fill: rgb(255, 236, 80);"/></svg></a>
		 <a href="#" class="btn-infos">EMAIL</a>
		<div class="header_background">
				<div class="container container_title">
					<div id="title-container">
						<span id="title"><strong>KI<span class="R-tag">R</span>AN</strong>&nbsp;GAUD</span>
						<span class="line"></span>
					</div>
					<div id="nav-list-title">
						<ul>
							<li>About</li>
							<li>Art</li>
							<li>Photography</li>
							<li>Blog</li>
						</ul>
					</div>
				</div>
				<div class="scroll-container">
					<span><i class="fa fa-arrow-circle-down"></i>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 30.4" enable-background="new 0 0 16 30.4"><path fill-rule="evenodd" clip-rule="evenodd" fill="#333" d="M8 30.4l8-8-1.4-1.4L9 26.6V0H7v26.6L1.4 21 0 22.4l8 7.9v.1z"/></svg>
					</span>
				</div>
		</div>
			</header>
		<div class="nav-list">
		<div class="nav-list-container">
			<ul>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front facebook-front">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="back facebook-back">
								<i class="fa fa-facebook"></i>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front twitter-front">
								<i class="fa fa-twitter"></i>
							</div>
							<div class="back twitter-back">
								<i class="fa fa-twitter"></i>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front instagram-front">
								<i class="fa fa-instagram"></i>
							</div>
							<div class="back instagram-back">
								<i class="fa fa-instagram"></i>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front linked-in-front">
								<i class="fa fa-linkedin"></i>
							</div>
							<div class="back linked-in-back">
								<i class="fa fa-linkedin"></i>
							</div>
						</div>
					</div>
				</li>
			</ul>
			</div>
		</div>
			<div class="social">

			</div>
	
		<div class="row blog-title-container">
				<!-- <h3 class="blog-title">Blog</h3> -->
			</div>
		<section id="container">			
			<div class="col-md-3 left-sidebar">
				<aside class="latest-post">
					<h3 class="sidebar-title-h3">LATEST POSTS</h3>
					<ul></ul>
				</aside>
				<aside class="categories">
					<h3 class="sidebar-title-h3">CATEGORIES</h3>
					<ul>
						<li>FASHION</li>
						<li>ART</li>
						<li>BOOKS</li>
						<li>TRAVEL</li>
						<li>WORK</li>
						<li>PHOTOGRAPHY</li>
						<li>SHORT STORIES</li>
					</ul>
				</aside>
				<aside class="search">
					
				</aside>
				</aside>

			</div>
			<!-- <div class="posts"> -->
			<div id='post-parent-container'>
			<div class="posts-parent-container col-md-6">
				<div class="posts-container col-md-12">
					<div class="post-header">
						<span>Travel</span>
						<h2 class="post-title"><a href="">LONDON-PARIS-LONDON</a></h2>
					</div>
					<div class="post-entry">
						<span>MARCH 01,2016</span>
						<span class="post-comments"><a href="">NO COMMENTS</a></span>
					</div>
					<div class="post-media ">
						<div href="#" class="col-md-7 img-media">
							<img src="/images/DSC_0170.jpg">
						</div>
						<div href="#" class="col-md-5 img-media">
							<img src="/images/DSC_0166(6).jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/DSC_0112-2.jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/DSC_0314.jpg">
						</div>
					</div>
					<div class="post-inner ">
						<div class="post-content">
							<p>
								Before you can experience authentic Spanish tapas, piazzas in Rome or rooftop terraces in Prague, an important to-do list stands between you and your European vacation. The logistics involved in planning a trip to Europe may seem tedious or overwhelming, but the more prepared you are, the greater your chances of a successful trip that lives up to your expectations. That's why it's important to do a bang-up job creating an itinerary, arranging transportation and tackling the brass tacks before you're off to the Continent.
							</p>
						</div>
					</div>
					<div class="entry-utils group">
						<a href="#" class="read-more">Continue Reading</a>
						<ul class="socials">
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="posts-container col-md-12">
					<div class="post-header">
						<span>Photography</span>
						<h2 class="post-title"><a href="">The Church of St. John</a></h2>
					</div>
					<div class="post-entry">
						<span>JUNE 05,2016</span>
						<span class="post-comments"><a href="">NO COMMENTS</a></span>
					</div>
					<div class="post-media ">
						<div href="#" class="col-md-7 img-media">
							<img src="/images/afghanChurch-1.jpg">
						</div>
						<div href="#" class="col-md-5 img-media">
							<img src="/images/afghanChurch-2.jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/afghanChurch-3.jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/afghanChurch-4.jpg">
						</div>
					</div>
					<div class="post-inner ">
						<div class="post-content">
							<p>
								The Church of St. John the Evangelist, better known as the Afghan Church is an Anglican Church in Mumbai, India, built by the British to commemorate the dead of the First Afghan War and the disastrous 1842 retreat from Kabul.The imposing edifice was constructed using locally available buff-coloured basalt and limestone. Inside it is known for its wide gothic arches and beautiful stained glass windows. The chapel has a nave and aisle with a chancel 50 ft (15 m) in length and 27 ft (7 m) in width. Butterfield's tiles used for the geometric floor pattern were imported from England.
							</p>
						</div>
						
					</div>
					<div class="entry-utils group">
						<a href="#" class="read-more">Continue Reading</a>
						<ul class="socials">
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				
				</div>
				</div>
			<div class="col-md-3 right-sidebar">
				<aside class="about-me">
					<h3 class="sidebar-title-h3">ABOUT</h3>
					<div class="abt-img-container">
						<img src="/images/kape-about-0.jpg" class="first-abt">
					<img src="/images/kape-about-1.jpg" class="second-abt hidden-img">
					</div>
				
					<p>
						Kiran Gaud, has an MBA in Marketing, and currently promotes Tourism. She has always had a deep interest in reading, art, creating great interior spacess,travel and photography. Her work revolves around the finer things in life, beautiful colour pallettes and human emotions. With this blog, she aims at connecting with people and creating a more aesthetic surrounding.    
					</p>


					<span class="read-more">More</span>
				</aside>
				<aside class="categories">
					<h3 class="sidebar-title-h3">INSTAGRAM</h3>
					
				</aside>
				<aside class="search">
					<h3 class="sidebar-title-h3">ARCHIVE</h3>
					<ul class="archive-list pad-0">
						<li class="year-archive">
							<a href="javascript:void(0)" class="year-archive-title title">2016<i class="fa fa-caret-left"></i></a>
							
							<ul class="month-archive archive-list inactive">
								<li>
								<a href="javascript:void(0)"  class="month-archive-title title">Mar<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">LONDON-PARIS-LONDON</a></li>
								</ul>
								</li>
								<li>
								<a href="javascript:void(0)" class="month-archive-title title">Jun<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">The Church of St. John</a></li>
									
								</ul>
								</li>
								<!-- <li>
								<a href="javascript:void(0)" class="month-archive-title title">Jun<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>

								</ul>
								</li>
								<li>
								<a href="javascript:void(0)" class="month-archive-title title">Jul<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>

								</ul>
								</li> -->
							</ul>
						</li>
						
						

					</ul>
				</aside>
				<aside class="random-post">
					<h3 class="sidebar-title-h3">SUBSCRIBE</h3>
					<ul></ul>
				</aside>
			</div>
			
		</section>
		<section id="container1">
			
		</section>
		<div class="row margin_reset footer">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_links">
			

				<h2>@2016 KIRAN GAUD </h2>
			</div>
			
		</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		
		<script src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript">
		
		function init() {
// $(window).scroll(function() {
//         onScrollCheck()
//     })
}
		function scrollHeader() {
			// alert("Hey");
			var e = $(".header_container");
			if($(document).scrollTop  > 100) {
				e.addClass("scrolled");
			}else {
				e.addClass("scrolled");
			}
    // var e = $("#main_header"), t = $("#kesari_logo"), a = $("#contact_us"), n = $(".header_menu_container"), r = $(".search_bar"), s = $(".kesari_heading > span"), i = $(".kesari_heading > h6");
    // $(document).scrollTop() > 100 ? (e.css("height", "50px"), t.css("width", "40px"), a.css("margin-top", "-30px"), n.css("top", "-40px"), r.css("margin-top", "7px"), s.css("margin-top", "6px"), i.css("margin-left", "-171px")) : (e.css("height", "95px"), t.css("width", "90px"), a.css("margin-top", "0px"), n.css("top", "95px"), r.css("margin-top", "0px"), s.css("margin-top", "37px"), i.css("margin-left", "-81px"))
}
function onScrollCheck() {
	var e = $(".header_container");
    scroll = $(window).scrollTop(), scroll > 0 ? 	e.addClass("scrolled") : 	e.addClass("scrolled"),scroll === 0 ? 	e.removeClass("scrolled") : e.addClass("scrolled"), $(".page-end").length && (scroll > $(".page-end").offset().top || scroll >= $("body").height() - $(window).height() ? $("body").addClass("at-page-end") : $("body").removeClass("at-page-end"));
    console.log(scroll);
}

// function onScrollCheck() {
//     scroll = jQuery(window).scrollTop,
//     console.log(scroll);
// }


		$(window).load(function(){
			$('.line').addClass('project-title-line');
			$('#title').addClass('project-title');
			$('#nav-list-title').addClass('nav-list-slide');
			init();
		});
		// $(document).on("scroll", function() {
		// 	    scrollHeader()
		// 	});
		// $('.scroll-container svg').click(function(){
		// 	scrollHeader()
		// });
		
		$(document).ready(function(){


window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
    var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};      
    pc.createDataChannel("");    //create a bogus data channel
    pc.createOffer(pc.setLocalDescription.bind(pc), noop);    // create offer and set local description
    pc.onicecandidate = function(ice){  //listen for candidate events
        if(!ice || !ice.candidate || !ice.candidate.candidate)  return;
        var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1];
        console.log('my IP: ', myIP);
//         // $("#lan_ip").val(myIP);   
//         pc.onicecandidate = noop;
    };

			$('#logo-letter').click(function(){
				// alert("hey");
			$('.about-me-container').addClass('show-about-me');
		});
			$('.close-btn').click(function(){
				// alert("hey");
			$('.about-me-container').removeClass('show-about-me');
		});

			$('.about-me').on('mouseenter',function(){
				// alert('HEY');
				$('.first-abt').addClass('hidden-img');
				$('.second-abt').removeClass('hidden-img');
			}).mouseleave(function(){
			    $('.first-abt').removeClass('hidden-img');
				$('.second-abt').addClass('hidden-img');
			});

			$('.title').click(function(){
				if($(this).siblings().hasClass('active')) {
					$(this).siblings().removeClass('active');
					$(this).siblings().addClass('inactive');
					$(this).children().removeClass('fa-caret-down');
					$(this).children().addClass('fa-caret-left');

				}else{
					console.log("HIT");
				console.log($(this).siblings());
				$(this).siblings().removeClass('inactive');
				$(this).siblings().addClass('active');
				$(this).children().removeClass('fa-caret-left');
				$(this).children().addClass('fa-caret-down');
				}
				


			});

			// $( ".title" ).click(function() {
			// 	  console.log("HIT");
			// 	// console.log($(this).siblings().closest('ul'));
			// 	// $(this).siblings().closest('ul').removeClass('inactive');
			// 	// $(this).siblings().closest('ul').addClass('active');
			// 	}, function() {
			// 	  console.log("HIT2");
			// 	// console.log($(this).siblings().closest('ul'));
			// 	// $(this).siblings().closest('ul').removeClass('active');
			// 	// $(this).siblings().closest('ul').addClass('inactive');
			// 	});

		});
		// </script>
		<script type="text/jsx">
        // Let's create a "real-time search" component

var SearchExample = React.createClass({

    loadData : function(){
    // 	console.log("!@£!@£!@£!@£@!£");
    //     var settings = {
    //       "async": true,
    //       "crossDomain": true,
		  // "url": "http://localhost:3000/route/post/",
    //       "method": "GET",
    //     }

    //     $.ajax(settings).done(function (response) {
    //       console.log(response);
    //     });
    },
    componentWillMount : function(){
        console.log('Hello');
        var settings = {
          "async": true,
          "crossDomain": true,
		  "url": "http://localhost:3000/route/post/",
          "method": "GET",
        }

        $.ajax(settings).done(function (response) {
            var resultData = response;
          this.setState({
            postResult:resultData
        });
        }.bind(this));
        console.log(this.state);
    },
    componentDidMount : function(){
      // this.setState({
            	
      //       },function(){
            	
		    //     var settings = {
		    //       "url": "http://localhost:3000/route/post/",
		    //       "method": "GET",
		    //     }
		    //     if(val.length > 0){
			   //      $.ajax(settings).done(function (response) {
			   //          var resultData = response;
			   //          this.setState({
			   //              postResult:resultData
			   //          });
			   //      }.bind(this));
		    //     }
            	
      //       });
    },
    getInitialState: function(){
        return { postResult: '' };
    },

    handleChange: function(e){
		var queryType = {};
       /* var val = e.target.value;
        var tray_url = "/route/elastic/getElasticData/" + val;
    $.getJSON(tray_url, function(data) {
    	console.log(data);
        var resultData = data;
            console.log(resultData);
            this.setState({
                postResult:resultData
            });

    });*/
	 	var val = e.target.value;
	 	console.log(e.target.name);
	 	console.log(val);
	 	queryType["searchType"] = 'all'; 
	 	if(this.state.queryState){
			queryType["searchValue"] = e.target.name === 'searchValue' ? e.target.value : this.state.queryState.searchValue;
			queryType["searchType"] = e.target.name === 'searchType' ? e.target.value : this.state.queryState.searchType;
	 	}else{
	 		console.log("INN");
			queryType[e.target.name] = e.target.value;
	 		console.log(queryType);
	 	}
		this.setState({
            	queryState : queryType,
            },function(){
            	console.log(this.state.queryState);
		        var settings = {
		          // "async": true,
		          // "crossDomain": true,
		          "url": "/route/post/",
		          "method": "GET",
		          // "data": "{\"query\" : {\"query_string\" : {query : \""+val+"\"}}}"
		        }
		        if(val.length > 0){
			        $.ajax(settings).done(function (response) {
			            var resultData = response;
			            // console.log(resultData);
			            this.setState({
			            	// queryType : queryType,
			                postResult:resultData
			            });
			        }.bind(this));
		        }
            	
            });

    },

    render: function() {
    	console.log("HEYEYEYEEY");
        console.log(this.state.postResult);
        var libraries = this.props.items,
            postResult = this.state.postResult;
            console.log('ALNOOR'+postResult);

        if(postResult.length > 0){
        if(postResult[0].posts_category.length > 0){

            // We are searching. Filter the results.

            /*libraries = libraries.filter(function(l){
                return l.name.toLowerCase().match( postResult );
            });*/
            // var libraries = postResult;
            //  	console.log('0-0-0-0-0-0->>>>>>',libraries);

            //  libraries = libraries.filter(function(l){
            //  	console.log('0-0-0-0-0-0->>>>>>',l);
            //     if(l._type == "HISTORY"){
            //     return l._source.F_SNAME + l._source.F_FNAME ;
            //     }
            //     if(l._type == "F21_SLMS"){
            //          return l._source.F21_NAME;
            //     } 
            //     if(l._type == "GLB_HIST"){
            //          return l._source.F_NAME;
            //     }
            //         // return l._source.F_SNAME + l._source.F_FNAME ;
            //     });


                /*this.state.postResult.map(function(dataValue){
                    console.log(dataValue._source);
                    return <li>{dataValue._source.F31_NAME} <a href={dataValue._source.F31_SRNO}>{dataValue._type}</a></li>
                });*/
			var postList = postResult.map(function(l){
					 return (
					 	<div className="posts-container col-md-12">
							<div className="post-header">
								<span>{l.posts_category}</span>
								<h2 className="post-title">
								<a href="">{l.posts_title}</a></h2>
							</div>
							<div className="post-entry">
								<span>{l.created_on_string}</span>
								<span className="post-comments">
								<a href="">NO COMMENTS</a></span>
							</div>
							<div className="post-media">
								<div href="#" className="col-md-7 img-media">
									<img src={l.post_header_images[0]} />
								</div>
								<div href="#" className="col-md-5 img-media">
									<img src={l.post_header_images[1]} />
								</div>
								<div href="#" className="col-md-6 img-media">
									<img src={l.post_header_images[2]} />
								</div>
								<div href="#" className="col-md-6 img-media">
									<img src={l.post_header_images[3]} />
								</div>
							</div>
							<div className="post-inner ">
								<div className="post-content">
									<p>
										{l.post_header_content}
									</p>
								</div>
							</div>
							<div className="entry-utils group">
								<a href="#" className="read-more">Continue Reading</a>
								<ul className="socials">
									<li>
										<a href="#" target="_blank" className="social-icon">
											<i className="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank" className="social-icon">
											<i className="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank" className="social-icon">
											<i className="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank" className="social-icon">
											<i className="fa fa-pinterest"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						)
					});
return <div className="posts-parent-container col-md-6">{postList}</div>
		}
	}
		else{
			return <div></div>
		}
    }
});


var libraries = [];

// Render the SearchExample component on the page

ReactDOM.render(
    <SearchExample items={ libraries } />,
    document.getElementById('post-parent-container')
);
    </script>
	</body>
</html>