
 <% include partials/head %>
	<body>
	 <header class="homepage_header_container">
	 <span id="logo-letter"><strong>K</strong></span>
	 	 	<a class="logo" href="/">
		 <svg enable-background="new 0 0 48.3 11" viewBox="0 0 48.3 11" xmlns="http://www.w3.org/2000/svg" class="an-logo"><path d="M.004 10.13L9.338.794l.85.85-9.335 9.333zm18.688.043L9.358.84l.85-.85 9.332 9.335zm.003-.063L28.03.774l.848.85-9.334 9.332zm9.33-9.268l.85-.848 9.323 9.344-.85.848zm9.33 9.26l10.11-10.11.85.847-10.11 10.11z" clip-rule="evenodd" fill="#4bea91" style="fill: rgb(255, 236, 80);"/></svg></a>
		 <a href="mailto:kapegoud@gmail.com" class="btn-infos">EMAIL</a>
		<div class="header_background">
				<div class="container container_title">
					<div id="title-container">
					<a href="/">
						<span id="title">KI<span class="R-tag">R</span>AN&nbsp;GAUD</span>
					</a>
						<span class="line"></span>
					</div>
					<div id="nav-list-title">
						<ul>
							<li><a href="/about">about</a></li>
				            <li><a href="/category/art">art</a></li>
				            <li><a href="/category/photography">photography</a></li>
				            <li><a href="javascript:void(0)" class="scroll-to-blog">blog</a></li>
						</ul>
						

					</div>
				</div>
				<div class="scroll-container">
					<span><i class="fa fa-arrow-circle-down"></i>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 30.4" enable-background="new 0 0 16 30.4"><path fill-rule="evenodd" clip-rule="evenodd" fill="#333" d="M8 30.4l8-8-1.4-1.4L9 26.6V0H7v26.6L1.4 21 0 22.4l8 7.9v.1z"/></svg>
					</span>
				</div>
		</div>
			</header>
		<div class="nav-list">
		<div class="nav-list-container">
			<ul>
				<li>
					<a href="https://www.facebook.com/kiranpgaud" target="_blank">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front facebook-front">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="back facebook-back">
								<i class="fa fa-facebook"></i>
							</div>
						</div>
					</div>
					</a>
				</li>
				<li>
					<a href="https://www.twitter.com/kapeheart?s=09/" target="_blank">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front twitter-front">
								<i class="fa fa-twitter"></i>
							</div>
							<div class="back twitter-back">
								<i class="fa fa-twitter"></i>
							</div>
						</div>
					</div>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/kapeheart/" target="_blank">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');" href="https://www.instagram.com/kapeheart/">
						<div class="flipper">
							<div class="front instagram-front">
								<i class="fa fa-instagram"></i>
							</div>
							<div class="back instagram-back">
								<i class="fa fa-instagram"></i>
							</div>
						</div>
					</div>
					</a>
				</li>
				<li>
					<a href="https://in.linkedin.com/in/kiran-goud-09890073" target="_blank">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front linked-in-front">
								<i class="fa fa-linkedin"></i>
							</div>
							<div class="back linked-in-back">
								<i class="fa fa-linkedin"></i>
							</div>
						</div>
					</div>
					</a>
				</li>
			</ul>
			</div>
		</div>
			<div class="social">

			</div>
	
		<div class="row blog-title-container">
				<!-- <h3 class="blog-title">Blog</h3> -->
			</div>
		<section id="container">			
			<div class="col-md-3 left-sidebar">
				<!-- <aside class="latest-post">
					<h3 class="sidebar-title-h3">LATEST POSTS</h3>
					<ul></ul>
				</aside> -->
				<aside class="categories">
					<h3 class="sidebar-title-h3">CATEGORIES</h3>
					<ul>
						<li><a href="/category/books">BOOKS</a></li>
						<li><a href="/category/short stories">SHORT STORIES</a></li>
						<li><a href="/category/fashion">FASHION</a></li>
						<li><a href="/category/art">ART</a></li>
						<li><a href="/category/travel">TRAVEL</a></li>
						<!-- <li>WORK</li> -->
						<li><a href="/category/photography">PHOTOGRAPHY</a></li>
					</ul>
				</aside>
				<aside class="search">
					
				</aside>
				</aside>

			</div>
			<!-- <div class="posts"> -->
			<div id='post-parent-container'>
			
			</div>
			<div class="col-md-3 right-sidebar">
				<aside class="about-me">
					<h3 class="sidebar-title-h3">ABOUT</h3>
					<div class="abt-img-container">
						<img src="https://drive.google.com/uc?export=view&id=0B73QldPJajvyOFBuNDZ0YTlodUk" class="first-abt">
                    <img src="https://drive.google.com/uc?export=view&id=0B73QldPJajvyUzlCT1l5Z2lQOTQ" class="second-abt hidden-img">
					</div>
				
					<p>
						Art, photography, fashion, makeup, interiors are all inter-connected. If you are fairly knowledgeable at one, you tend to be decent at the other. Often, your work will reflect one or many of your passions. Through my blogs i intend to share, learn, and connect
					</p>


					<a href="/about"><span class="read-more">More</span></a>
				</aside>
				<aside class="categories">
					<h3 class="sidebar-title-h3">INSTAGRAM</h3>
					<div id="instagram-slider" class="carousel slide carousel-fade" data-ride="carousel">
						
					</div>
				</aside>
				<aside class="search">
					<h3 class="sidebar-title-h3">ARCHIVE</h3>
					<ul class="archive-list pad-0">
						<li class="year-archive">
							<a href="javascript:void(0)" class="year-archive-title title">2016<i class="fa fa-caret-left"></i></a>
							<ul class="month-archive archive-list inactive">
								<li>
								<a href="javascript:void(0)"  class="month-archive-title title">Dec<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">LONDON-PARIS-LONDON</a></li>
								</ul>
								</li>
								<li>
								<a href="javascript:void(0)" class="month-archive-title title">Jun<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">The Church of St. John</a></li>
									
								</ul>
								</li>
							</ul>
						</li>
						
						

					</ul>
				</aside>
				<!-- <aside class="random-post side-dock">
                    <h3 class="sidebar-title-h3">SUBSCRIBE</h3>
                    <p>
                        Enter your email address to subscribe to this blog and receive notifications of new posts by email.
                    </p>
                    <form>
                        <input type="text" class="form-control email-subs" name="email-subs"  placeholder="EMAIL ADDRESS"  />
                        <input class="submit-btn" type="submit" value="SUBSCRIBE" name="email-subscription-widget">
                    </form>
                </aside> -->
			</div>
			
		</section>
		<section id="container1">
			
		</section>
		<div class="row margin_reset footer">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_links">
			<div id="heart"></div>

				<h2>@2016 KIRAN GAUD </h2>
			</div>
			
		</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/global.js"></script>
		<script type="text/jsx">
        // Let's create a "real-time search" component

var POSTS = React.createClass({

    loadData : function(){
    // 	console.log("!@£!@£!@£!@£@!£");
    //     var settings = {
    //       "async": true,
    //       "crossDomain": true,
		  // "url": "http://localhost:3000/route/post/",
    //       "method": "GET",
    //     }

    //     $.ajax(settings).done(function (response) {
    //       console.log(response);
    //     });
    },
    componentWillMount : function(){
        var settings = {
          "async": true,
          "crossDomain": true,
		  "url": "http://www.kirangaud.com/route/post/",
          "method": "GET",
        }

        $.ajax(settings).done(function (response) {
            var resultData = response;
          this.setState({
            postResult:resultData
        });
        }.bind(this));
    },
    componentDidMount : function(){
      // this.setState({
            	
      //       },function(){
            	
		    //     var settings = {
		    //       "url": "http://localhost:3000/route/post/",
		    //       "method": "GET",
		    //     }
		    //     if(val.length > 0){
			   //      $.ajax(settings).done(function (response) {
			   //          var resultData = response;
			   //          this.setState({
			   //              postResult:resultData
			   //          });
			   //      }.bind(this));
		    //     }
            	
      //       });
    },
    getInitialState: function(){
        return { postResult: '' };
    },

    handleChange: function(e){
		var queryType = {};
       /* var val = e.target.value;
        var tray_url = "/route/elastic/getElasticData/" + val;
    $.getJSON(tray_url, function(data) {
    	console.log(data);
        var resultData = data;
            console.log(resultData);
            this.setState({
                postResult:resultData
            });

    });*/
	 	var val = e.target.value;
	 	
	 	queryType["searchType"] = 'all'; 
	 	if(this.state.queryState){
			queryType["searchValue"] = e.target.name === 'searchValue' ? e.target.value : this.state.queryState.searchValue;
			queryType["searchType"] = e.target.name === 'searchType' ? e.target.value : this.state.queryState.searchType;
	 	}else{
			queryType[e.target.name] = e.target.value;
	 	}
		this.setState({
            	queryState : queryType,
            },function(){
            	console.log(this.state.queryState);
		        var settings = {
		          // "async": true,
		          // "crossDomain": true,
		          "url": "http://www.kirangaud.com/route/post/",
		          "method": "GET",
		          // "data": "{\"query\" : {\"query_string\" : {query : \""+val+"\"}}}"
		        }
		        if(val.length > 0){
			        $.ajax(settings).done(function (response) {
			            var resultData = response;
			            // console.log(resultData);
			            this.setState({
			            	// queryType : queryType,
			                postResult:resultData
			            });
			        }.bind(this));
		        }
            	
            });

    },

    render: function() {
        var postsLibrary = this.props.items,
            postResult = this.state.postResult;
        if(postResult.length > 0){
        if(postResult[0].posts_category.length > 0){
			var postList = postResult.map(function(l){
				var postLink = '/posts/'+l.posts_title.replace(/ /g,'_');
				 var newDate = new Date(l.created_on),
                     locale = "en-us",
                      month = newDate.toLocaleString(locale, { month: "long" }),
                      day = newDate.getDate(),
                      year = newDate.getFullYear(),
                      time = newDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}),
                      dateFormat = month +" "+day+","+year+" at "+time;
					 return (
					 	<div className="posts-container col-md-12">
							<div className="post-header">
								<span>{l.posts_category}</span>
								<h2 className="post-title">
								<a href={postLink}>{l.posts_title}</a></h2>
							</div>
							<div className="post-entry">
								<span>{dateFormat}</span>
								<span className="post-comments">
								<a href={postLink}>{l.comments.length} COMMENTS</a></span>
							</div>
							<div className="post-media">
									{l.post_header_images[0] && 
										<div href="#" className={l.post_header_images[2] != undefined || year != '2017' ? "col-md-7 img-media image-hover img-shadow-1" : "col-md-6 img-media image-hover img-shadow-1"}>
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcimg={l.post_header_images[0]} />
										</div>
									}
									{l.post_header_images[1] && 
										<div href="#" className={l.post_header_images[2] != undefined || year != '2017' ? "col-md-5 img-media image-hover img-shadow-1" : "col-md-6 img-media image-hover img-shadow-1"}>
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcimg={l.post_header_images[1]} />
										</div>
									}
									{
										l.post_header_images[2] &&
										<div href="#" className="col-md-6 img-media image-hover img-shadow-1">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcimg={l.post_header_images[2]} />
										</div>
									}
									{
										l.post_header_images[3] &&
										<div href="#" className="col-md-6 img-media image-hover img-shadow-1">
											<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcimg={l.post_header_images[3]} />
										</div>
									}
							</div>
							<div className="post-inner ">
								<div className="post-content">
									<p dangerouslySetInnerHTML={{__html: l.post_header_content}}>
									</p>
								</div>
							</div>
							<div className="entry-utils group">
								<a href={postLink} className="read-more">Continue Reading</a>
								<ul className="socials">
									<li>
									<a href={"https://www.facebook.com/sharer/sharer.php?u=http://"+document.location.hostname+postLink} target="_blank" className="social-icon">
                                            <i className="fa fa-facebook"></i>
                                        </a>
									</li>
									<li>
										<a href={"http://twitter.com/share?text=Shared &url=http://"+document.location.hostname+postLink+"&hashtags="+l.hash_tags} target="_blank" className="social-icon">
											<i className="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href={"https://plus.google.com/share?url=http://"+document.location.hostname+postLink} target="_blank" className="social-icon">
											<i className="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href={"https://pinterest.com/pin/create/button/?url=http://"+document.location.hostname+postLink} target="_blank" className="social-icon">
											<i className="fa fa-pinterest"></i>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						)
					});
return <div className="posts-parent-container col-md-6 brdr-right brdr-left">{postList}</div>
		}
	}
		else{
			return <div></div>
		}
    }
});


var postsLibrary = [];

ReactDOM.render(
    <POSTS items={ postsLibrary } />,
    document.getElementById('post-parent-container')
);
    </script>
	</body>
</html>